/* universal code */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;

}
/* Homepage code for header */
.header{
    min-height: 110vh;
    width: 100%;
    background-image: url(black1.png);
    background-position: center;
    background-size: cover;
    position: relative;
} 
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0), rgba(4, 9, 30, 0.877));
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 45px;
    position: relative;

}
.nav-links ul li a{
    color: #0abbf6;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff039a;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* Homepage code for body */
.logo{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    align-items: center;
}
.logo img{
    width: 120px;
}
.logo p{
    color: #ff039a;
    font-size: 20px;
}
.logo img:hover{
    width: 140px;
}

nav .fa{
    display: none;
}
/*schedule code start from here by Harish katariya and Rahul Singh Rawat*/
.wrapper{
	padding:15px 20%;
	background:black;
	color:cyan;
	
}
.s-card{
	margin:5px;
	margin-bottom:20px;
	width:230px;
	height:250px;
	border:1px solid white;
	border-radius:4px;
	transition:transform 0.4s;
}
.wrapper h3{
	color:white;
	margin:20px 0;
	display: flex;
	justify-content: center;
}
.wrapper p{
	padding: 0 0 0 10px;
	margin:20px 0 20px 1px;
}
.day-1, .day-2, .day-3, .day-4, .day-5{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.event-image{
	width:230px;
	height:100px;
}	
.s-card:hover{
	background-color:grey;
	transform:scale(1.06);
	border:2px solid cyan;
}
/*schedule page code ends here*/
/* Code for body */
.about{
    background-color: black;
    padding: 100px;
}
.about h1{
    color: #0abbf6;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
.about p{
    color: white;
    text-align: center;
    padding: 50px;
    font-size: large;
}
/*--------gallery-------*/
.gallery{
    background-color: black;
    padding-bottom: 50px;
    text-align: center;
    
}
.gallery h1{
    color: white;
    text-decoration: underline;
    font-size: 40px;
}
.photos{
    flex-basis: 32%;
    border-radius: 10px;
    /* margin-bottom: 30px; */
    position: relative;
    overflow: hidden;
    display: inline-flex;
}
.photos img{
    width: 300px;
    display: block;
    padding: 20px;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover{
    background-color: #ff039a6f;
}
.layer h3{
    text-align: center;
    right: 30%;
    left: 30%;
    width: 100%;
    font-weight: 500;
    opacity: 0;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    right: 30%;
    left: 50%;
}
.layer:hover h3{
top: 10%;
opacity: 1;
}
.fe h2{
    color: #0abbf6;
    padding: 10px;
    font-size: large;
}
.spt h2{
    color: #0abbf6;
    padding: 10px;
    font-size: large;
}
.srng h2{
    color: #0abbf6;
    padding: 10px;
    font-size: large;
}

/* Footer code for all pages */
.footer{
    min-height: 32vh;
    width: 100%;
    background-image: url(foot.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.info h3, h4 {
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}
.info{
    position: absolute;
    left: 5%;
    top: 20px;
    padding: 30px;
    padding-right: 120px;
    background-color: rgba(0, 0, 0, 0.642); 
}
/*Starting team and about page code*/
.header-team{
    min-height: 49vh;
    width: 100%;
    background-image: url(headIMg.png);
    background-position: center;
    background-size: cover;
    position: relative;
} 
.header-team h1{
    color: white;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.756) ;
    padding: 80px;
    border-radius: 20px;
}
.header-team img{
    width: 140px;
    position: absolute;
    right: 7.5%;
    top: 65px;
}
.header-team img:hover{
    width: 145px;
}
.main-about{
    text-align: center;
    padding-top: 5%;
    background-color: black;
    
}
.main-about p{
    color: #0abbf6;
    padding: 25px;
}
.main-about h1{

    color: #ff039a;
    padding: 20px;
}
.frame{
    justify-content: center;
}
