/* universal code */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;

}
/* Homepage code for header */
.header{
    min-height: 110vh;
    width: 100%;
    background-image: url(black1.png);
    background-position: center;
    background-size: cover;
    position: relative;
} 
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgb(0, 0, 0), rgba(4, 9, 30, 0.877));
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 45px;
    position: relative;

}
.nav-links ul li a{
    color: #0abbf6;
    text-decoration: none;
    font-size: 20px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff039a;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
/* Homepage code for body */
.logo{
    width: 50px;
    position: absolute;
    top: 50%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    align-items: center;
}
.logo img{
    width: 120px;
}
.logo p{
    color: #ff039a;
    font-size: 20px;
}
.logo img:hover{
    width: 140px;
}

nav .fa{
    display: none;
}

/* Code for reponsiveness */
@media(max-width: 700px){
    .nav-links ul li a{
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    .logo img{
        width: 70px;
    }
    .logo img:hover{
        width: 75px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #0abbf6;
        display: block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width: 100%;
    }
    .nav-links{
        position: absolute;
        background: #ff039a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1ss;
    }
    nav .fa{
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        background-color: black;
        width: 20px;
        height: 20px;
    }
    .nav-links ul{
        padding: 25px;

    }
}
/* Code for body */
.about{
    background-color: black;
    padding: 100px;
}
.about h1{
    color: #0abbf6;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
.about p{
    color: white;
    text-align: center;
    padding: 50px;
    font-size: large;
}
/*--------gallery-------*/
.gallery{
    background-color: black;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    padding: 10%;
    background-color: black;
    
}
.gallery h1{
    color: white;
    text-decoration: underline;
    padding: 20px;
    font-size: 40px;
}
.photos{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    display: inline-flex;
}
.photos img{
    width: 100%;
    display: block;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background-color: #ff039a6f;
}
.layer h3{
    right: 30%;
    left: 30%;
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    right: 30%;
    left: 50%;
}
.layer:hover h3{
bottom: 49%;
opacity: 1;
}
/* Footer code for all pages */
.footer{
    min-height: 32vh;
    width: 100%;
    background-image: url(foot.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.info h3, h4 {
    color: white;
    padding-left: 30px;
    padding-top: 20px;
}
.info{
    position: absolute;
    left: 5%;
    top: 20px;
    padding: 20px;
    padding-right: 120px;
    background-color: rgba(0, 0, 0, 0.642); 
}


/* Starting Event page CSS */
/* code for header */
.header-events{
    min-height: 49vh;
    width: 100%;
    background-image: url(headIMg.png);
    background-position: center;
    background-size: cover;
    position: relative;
} 
.header-events h1{
    color: white;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.756) ;
    padding: 80px;
    border-radius: 20px;
}
.header-events img{
    width: 140px;
    position: absolute;
    right: 7.5%;
    top: 65px;
}
.header-events img:hover{
    width: 145px;
}
/* code for body */
.main-events{
    padding-top: 100px;
    text-align: center;
    background-color: black;
    padding-bottom: 50px;
}
.main-events h2{
    font-size: 30px;
    color: rgb(255, 0, 170);
    padding-top: 60px;
}
.main-events h3{
    font-size: 25px;
    color: rgb(0, 136, 255);
    padding-top: 40px;
}
.main-events p{
    font-size: 15px;
    color: white;
    padding-top: 10px;
}
.back-btn{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 2%;
}
.back-btn:hover{
    color: black;
    background-color: white;
    padding: 12px;
    font-size: 22px;
}
/*Starting team and about page code*/
.header-team{
    min-height: 49vh;
    width: 100%;
    background-image: url(headIMg.png);
    background-position: center;
    background-size: cover;
    position: relative;
} 
.header-team h1{
    color: white;
    text-align: center;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.756) ;
    padding: 80px;
    border-radius: 20px;
}
.header-team img{
    width: 140px;
    position: absolute;
    right: 7.5%;
    top: 65px;
}
.header-team img:hover{
    width: 145px;
}
.main-about{
    text-align: center;
    padding-top: 5%;
    background-color: black;
    
}
.main-about p{
    color: #0abbf6;
    padding: 25px;
}
.main-about h1{
    color: #ff039a;
    padding: 20px;
}
